[2016-01-08 15:50] StefanScherer opened #1 "Chocolatey package"
Thanks for making this driver plugin. I have built a [Chocolatey package `docker-machine-vmwareworkstation`](https://chocolatey.org/packages/docker-machine-vmwareworkstation/0.9.0) which is in review at the moment. But anyone can use it already with

[code]

This also installs the docker-machine Chocolatey package.

[2016-01-08 22:23] pecigonzalo commented on #1
Great stuff! is there anything i can do to help with that or make it easier for you to maintain the choco package?

[2016-01-08 22:36] StefanScherer commented on #1
Oh, just got first feedback from package review:

[code]

Your release 0.9.0 is marked as pre-release. I've tested it today and it worked out of the box. IMHO it is worth a release and not just a pre-release. As the next version probably has a higher version number this is fine thesedays ;-)

You may find the Chocolatey package sources here: https://github.com/StefanScherer/choco-docker-machine-vm

[2016-01-08 22:48] pecigonzalo commented on #1
The idea of merging it to this project with a PR so we can then automate it with appveyor sounds good, if you are still keen on that ill love to do that and help get it done.

One of the reasons i didnt mark it as release is because i dont have any testing on the build/functionality as of yet, but im ok to change the name of the prerelease versions to append the "-prerelease" ill do that today.

[2016-01-08 23:00] StefanScherer commented on #1
I think you can leave the 0.9.0 release as it is. The reviewer at chocolatey suggested the suffix for the choco package if you plan to release a "final release" still as 0.9.0. But I think you will increase the version number so there is no need for such a suffix.

And yes, a merge of the two repos would look even better as the complete build and deployment is done in one repo.

To build a go bina

[2016-01-09 00:09] pecigonzalo commented on #1
Ill start the appveyor stuff i have an account and all.
Btw your c++ app, you are publishing your token, i dont think that is recommended.

[2016-01-09 02:27] pecigonzalo commented on #1
Initial AppVeyor is set, ill start building some more test cases, feel free to submit a PR for the choco stuff.

[2016-01-09 09:28] StefanScherer opened #2 "Upload both 32/64bit binaries to GH releases"
At the moment both 32bit and 64bit windows exefiles have the same name and so they will be overwritten in the github release step.

We should name the plugins like docker-machine itself https://github.com/docker/machine/releases

* docker-machine-driver-vmwareworkstation_windows-386.exe
* docker-machine-driver-vmwareworkstation_windows-amd64.exe

Proposal to update the `appveyor.yml`:

[code]

But

[2016-01-09 10:04] pecigonzalo commented on #1
Ill close this if you agree.

[2016-01-09 10:38] StefanScherer commented on #1
Sure. I'll send a PR for choco later.

[2016-01-09 10:38] #1 closed

[2016-01-09 10:56] #2 closed

[2016-01-26 09:43] alexsapran opened #8 "Windows 10 not share my home dir"
Hi i used this with my vmware workstation and after it start the container when i ssh into the new machine i see that there is no mount of my host home directory.
VmWareworkstation version: 12.1.0 build-3272444
docker-machine: 0.5.6, build 61388e9 also tested it with 0.5.5
When using the virtualbox i got the home directory in my /c/Users

[2016-01-26 10:19] pecigonzalo commented on #8
Hi alex, i dont remember implementing this functionality and i dont think its implemented for vmware-fusion either but ill give it a look ASAP.

Cheers

[2016-01-26 20:57] alexsapran commented on #8
Hi Peci,

For fusion it is working as i use the fusion driver for my osx installation.
Thank you for your quick response.

Regards Alex

[2016-01-26 22:42] StefanScherer commented on #8
Yes, that would be great. Fusion does this probably here: https://github.com/docker/machine/blob/master/drivers/vmwarefusion/fusion_darwin.go#L360-L378

[2016-01-26 22:55] StefanScherer commented on #8
The VirtualBox driver does this for lin/win/mac here: https://github.com/docker/machine/blob/master/drivers/virtualbox/virtualbox.go#L426-L452

and returns the share name for windows here: https://github.com/docker/machine/blob/master/drivers/virtualbox/virtualbox_windows.go#L93-L95

[2016-01-27 01:39] pecigonzalo commented on #8
Excellent, im in the middle of a house move but ill get to work on this ASAP

[2016-01-27 07:02] alexsapran commented on #8
:+1:

[2016-02-12 09:23] ArtemGordinsky opened #9 "[v1.0.0] Default SSH user does not get created in the VM"
Hi,

I've noticed that after creating a brand new Docker Machine using this driver, the specified default SSH user ```B2DUser``` does not get created in the virtual machine. Fortunately, user ```docker``` still does, so  it doesn't appear to be that big of a problem.

Sorry if I'm confusing SSH users with some other kind of users.

Docker: 1.10.0
Docker Machine: 0.6.0
VMware® Workstation 12 Pro 12

[2016-02-12 16:51] pecigonzalo commented on #9
You are correct, the README.md is wrong, the default is docker. Ill correct it as soon as i get a chance.
Thanks for the report!

[2016-02-21 06:09] abaldeo commented on #8
+1

[2016-02-23 21:41] alexsapran commented on #8
@pecigonzalo do you have any update on this?

[2016-02-23 21:47] pecigonzalo commented on #8
@alexsapran not yet sorry, im still moving (changing countries). I just received my laptop ill try to start working on this.

[2016-02-27 22:10] #8 closed

[2016-02-27 22:12] pecigonzalo commented on #8
@alexsapran Till this is released on a new version (might be 20 days from now) you can download a build from here:
https://ci.appveyor.com/project/pecigonzalo/docker-machine-vmwareworkstation/build/1.0.10.4

Go to version that fits you and from the artifacts section you can download a compiled binary

[2016-03-14 18:32] alexsapran commented on #8
Hi @pecigonzalo

The mounting of the home directory now works fine.
One point here is that in cygwin the home path is `/c/Users` or `/cygdrive/c/Users` so the mount `/Users/` will not work all of the time cause when you are on the host machine and mount a folder then the actual path will be `/c/Users/....` and that path is not present inside the VM.

I do not know if the proper solution would be t

[2016-03-14 19:15] StefanScherer commented on #8
The `/cygdrive/c` is only for the cygwin commands like bash etc. As docker-machine and the plugin are "normal" programs they still only see `c:\Users` so the mount point should work for normal shells as within a cygwin shell.

[2016-03-17 18:00] pecigonzalo commented on #8
@StefanScherer Thanks, that should be correct.

[2016-03-18 08:35] alexsapran commented on #8
Hi according to the docker documentation the windows path is `/c/Users`
Please see for more details here https://docs.docker.com/engine/userguide/containers/dockervolumes/

You are right @StefanScherer about the cygwin but docker-machine is not a normal program in the sense that it will try to map the host `c:\Users` to `/c/Users/` thus both shell i believe must resolve that path, maybe i am wrong

[2016-03-21 08:37] darvin commented on #8
[code]

[2016-03-21 08:53] darvin commented on #8
Powershell, plugin version 1.0.10.4

[code]

[2016-03-21 21:03] pecigonzalo commented on #8
@darvin and @alexsapran
The vmware driver maps `c:\users\` on the vm `/Users/`, this is what Virtualbox and VMWare fusion map to this folder, so i think this is the best solution to keep it consistent.

docker-machine is indeed a normal program but your docker command runs inside the VM so you use linux paths there you are not mapping from windows but from your boot2docker vm, and the VM maps from

[2016-03-21 21:15] alexsapran commented on #8
@pecigonzalo according to the docker documentation for windows the mount should be on /c/Users and not /Users.
Please see the link that i have attached in my previous comment (https://github.com/pecigonzalo/docker-machine-vmwareworkstation/issues/8#issuecomment-198255999).

[code]

Also if you see on this comment (https://github.com/pecigonzalo/docker-machine-vmwareworkstation/issues/8#issuecommen

[2016-03-21 21:23] pecigonzalo commented on #8
Ill submit a PR to them, i believe thats wrong as it makes it so instructions that works on 1 platform (osx/linux) does not work on Windows for no real benefit.

In this plugin right now, it works as i just said or it should.

[2016-03-21 21:41] alexsapran commented on #8
But the docker deamon will send the path /c/Users/.... to the guest machine so that path must be valid there too.
The unification you mention is another issue completely.

[2016-03-21 21:46] pecigonzalo commented on #8
The docker daemon will send that if you use `-v /c/Users:/mnt` just use `-v /Users:mnt`

[2016-03-21 22:13] alexsapran commented on #8
I am using docker-compose so i cannot send the path as `/Users/`
What you say only works if i mount the path with -v /Users/Alexandros/....
The problem is that this does not work with docker-compose.
docker-compose uses the paths just like the documentation mentions, so if for example i start a container with docker compose then the mounted path will be /c/Users/Alexandros.....

[code]

If you fee

[2016-03-21 22:28] pecigonzalo commented on #8
Can you show me your docker compose config?

[2016-03-21 22:41] alexsapran commented on #8
with this you can reproduced

[code]

[2016-03-21 22:48] pecigonzalo commented on #8
https://github.com/docker/compose/blob/4c4e94bc19dd8bf185c3d810d3f5e123797ea754/compose/config/types.py#L108

There, that seems to be compose causing the issues, not the driver.
Given you are running from `c:/Users/username/project`
They are converting your `./www` to full path EG: `c:/Users/username/project/www`
and then converting that to linuxstyle
`/c/Users/username`

try using full path in yo

[2016-03-22 03:50] darvin commented on #8
[code]

does work, thank you so much!

[2016-03-22 06:21] alexsapran commented on #8
I do not think that this is a docker-compose problem. This i the default expected behaviour for the docker.
Please review the documentation, crealy it states what i say and what you discovered from the code, that for the windows machines the path must be `/c/Users/...`.
I do not think we should change docker compose or docker to use `/Users/...`
Why we just dont mount it as the documentation state

[2016-03-22 18:18] pecigonzalo commented on #8
@alexsapran
First of all, the documentation only talks about the bundled drivers, there is no 3rd party driver guideline that states i need to mount it anywhere.
The code from docker-compose only states a path conversion, it does state any guidelines either.

docker-compose is no 100% compatible with docker-machine, that is something docker-compose needs to fix. EG: If your work from any other loc

[2016-03-22 19:02] alexsapran commented on #8
Sorry but i do not understand your answer.
When you say that there are no guidelines for 3rd party drivers you are saying that your driver will just mount the path to a different location and break the existing docker-compose.
i will add another ticket but this makes your plugin unusable both to me and the team i am working with.

[2016-03-23 10:27] pecigonzalo commented on #8
Please, open the new incident, i have an idea on how to fix this for you and keep it working as i would prefer.

[2016-03-23 10:40] alexsapran commented on #8
i will just updating a cluster and need all my focus there, but until the end of day i will create it, i do not want to just create smthng with just a phase mounting issue and docker-compose :smile:

Thanks you for your time and effort.

[2016-03-23 18:43] alexsapran opened #11 "Mount location for the user home directory in the vm is not compatible with docker-compose"
According to docker & docker-compose the default location for user directory in windows is `/c/Users/` thus when you use from your host machine the docker-compose it converts the path to that `/c/Users/` folder and by mount the volumes, now this docker-machine driver mounts it to `/Users/` thus making it impossible to bymount a directory inside the docker container.

The existing virtualbox implem

[2016-03-28 12:54] pecigonzalo commented on #11
@alexsapran can you check using
https://ci.appveyor.com/api/buildjobs/17773wbnfqc49jjv/artifacts/bin/docker-machine-driver-vmwareworkstation_windows-amd64.exe
or
https://ci.appveyor.com/api/buildjobs/a0j0ykepu44ehv31/artifacts/bin/docker-machine-driver-vmwareworkstation_windows-386.exe

Thanks

[2016-04-06 16:03] alexsapran commented on #11
Hi @pecigonzalo ,

I tried the artifact that you added here but still got the mount on /Users, i also got the latest build artifact from here https://ci.appveyor.com/project/pecigonzalo/docker-machine-vmwareworkstation/build/1.0.10.5 and still mount to /Users

Did you changed the mount path? maybe i doing something wrong, can you please verify that the path is at /c/Users?

Alex.

[2016-04-06 16:05] alexsapran commented on #11
ps: i did `docker-machine rm alex` and recreated the machine with `docker-machine create -d vmwareworkstation alex` after replacing the exe from the CI to the path `C:\Program Files\Docker Toolbox`

[2016-04-07 14:35] pecigonzalo commented on #11
Ill try once i get home, but did you test it? the mount is to that location, but i created a junction point to allow for the other way to work.

[2016-04-07 15:37] alexsapran commented on #11
Yes i did test with the mentioned command `docker-machine create -d vmwareworkstation alex`
I created 2 vm's just to make sure.
If i did anything wrong please let me know.

[2016-04-07 18:54] pecigonzalo commented on #11
You are correct, ill fix it.

[2016-04-07 19:29] pecigonzalo commented on #11
Please try the binaries from https://ci.appveyor.com/project/pecigonzalo/docker-machine-vmwareworkstation once it finishes building

[2016-04-14 14:18] osaris commented on #11
@pecigonzalo I tried your latest release from appveyor but my User folder is still mounted as /Users not /c/Users

[2016-04-14 14:21] pecigonzalo commented on #11
@osaris Did you try using /c/Users anyway? As i explained before, im mounting on /Users but i created a junction point from /c/Users to /Users that should allow for both to work.

[2016-04-14 14:25] osaris commented on #11
@pecigonzalo thanks for the quick answer. No I can't `cd` to `/c/Users`

[2016-04-14 15:05] pecigonzalo commented on #11
Can you print this for me `ls -la /` `ls -la /c/`

Thanks

[2016-04-14 15:10] osaris commented on #11
[code]

[2016-04-14 15:29] pecigonzalo commented on #11
Ill check when i get back home, but just to confirm, you grabbed the version on https://ci.appveyor.com/project/pecigonzalo/docker-machine-vmwareworkstation/build/job/lfjsbp935m8a9m2g/artifacts

[2016-04-14 19:40] osaris commented on #11
Yes, i downloaded it yesterday.

[2016-04-14 20:49] pecigonzalo commented on #11
There was a mixup on the changes that were applied to master, i just created a new PR. sorry for the delay but i have  limited access to my computer.

[2016-04-14 20:51] pecigonzalo commented on #11
https://ci.appveyor.com/project/pecigonzalo/docker-machine-vmwareworkstation/build/1.0.10.6-dpikiink

[2016-04-14 21:03] osaris commented on #11
Thx a lot... but the build is broken :-(

[2016-04-14 21:05] pecigonzalo commented on #11
https://ci.appveyor.com/project/pecigonzalo/docker-machine-vmwareworkstation/build/1.0.10.6-pfsdasgu

Yeah forgot to remove vet from the appveyor file :stuck_out_tongue:

[2016-04-14 21:15] osaris commented on #11
Fine, I updated and I now have a `c` folder at the root of my docker-machine (and the `Users` folder too).

There is still a bug through, If i restart the VM with  `docker-machine restart dev` those folder aren't mounted anymore (but it's ok if start/stop). Do you want me to fill a new issue for this ?

Oh and folders mounted at `c` and `Users` are mostly empty but when I browse the mount from `/m

[2016-04-15 07:06] pecigonzalo commented on #11
No, that is ok, can you add the logs if you run

`docker-machine --debug restart dev`
the output of
`ls -la /c/`
`ls -la /Users/`

[2016-04-15 07:11] osaris commented on #11
Sure !

[code]

[2016-04-15 07:17] pecigonzalo commented on #11
So /c is missing from the root of the docker instance? odd... is Users also missing?

[2016-04-15 07:18] osaris commented on #11
Yep ! But only on restart. If I stop and start the machine it's OK :)

It's not my biggest concern right now because I can't see my files from /c/ or /Users/

[2016-04-15 07:24] pecigonzalo commented on #11
I dont have my computer right now but i think this could fix it.

https://ci.appveyor.com/project/pecigonzalo/docker-machine-vmwareworkstation/build/1.0.10.6-qlbtjpti

[2016-04-15 08:37] osaris commented on #11
It works !

Any idea for my last problem ? "Oh and folders mounted at c and Users are mostly empty but when I browse the mount from /mnt/hgfs all files are visible. Very strange !"

[2016-04-15 08:41] pecigonzalo commented on #11
No idea ... thats really odd, what do you get on /Users compared to /c/Users?

[2016-04-15 08:44] osaris commented on #11
same for both folders but most of files/folders are missing (but I can see then from /mnt/hgfs)

[2016-04-15 08:47] pecigonzalo commented on #11
Thats an odd one, ill troubleshoot once i get home, can you open a new issue for it? thanks!

[2016-04-15 08:47] osaris commented on #11
My bad, it works fine now ! But wasn't working with yesterday version. Thanks a lot !

[2016-04-15 08:47] #11 closed

[2016-04-16 11:29] osaris opened #16 "Workstation version needed ?"
Thx again for this nice piece of code, performances of virtualbox volumes on windows are aweful and VMWare workstation is far better !

I'm currently evaluating this driver with VMWare Workstation 12 Pro but the README file is not clear about which version of VMWare Workstation is needed ? (pro ? player ? free player ?).

[2016-04-16 17:36] steventsvetkov commented on #16
From what I've tested, it works with free and pro. It should work for all, I believe, there isn't any difference in the way VMWare Workstation works at the core level.

[2016-04-17 09:03] osaris commented on #16
That also was my opinion but from what I've tested, I can't start the VM with `docker-machine` command with free/player ? (stuck on `Starting "dev"...`) No problem while running Workstation Pro.

Note that I've rebuilt my VM when changing version and I can start the VM from VMWare app without problem in both cases.

[2016-04-17 10:55] steventsvetkov commented on #16
Navigate to the location with the virtual machine, there should be a log there from the last time you attempted to start the machine with docker-machine. The default location for the docker machines is `C:\Users\(your user)\.docker\machines\(your machine).` Include it here and we will have to see what @pecigonzalo has to say about this.

[2016-04-18 09:11] pecigonzalo commented on #16
@osaris

The driver uses vmrun in the background to perform actions, it should run VMware workstation 10+ .
Ill verify the versions and update the README.
All of the versions should run on VMware 11+ (pro, player, free player). On old versions (where vmware player had a lot more limitations and was not based on workstations as it seems to be now) it will only work on Workstation.

Sorry about the

[2016-04-18 17:48] osaris commented on #16
I reinstalled player free to test and I have no log in the folder of the VM after running `docker-machine start dev` :

[code]

[2016-04-18 21:35] osaris commented on #16
Looking at https://github.com/pecigonzalo/docker-machine-vmwareworkstation/blob/6026614c2ac9cdfe3bae80302e4a559ddc85de55/vmrun.go I can't find anything related to `VMware player` folder (only to `VMWare workstation`) in `workstationProgramFilePaths`` method.

Moreover `workstationVMwareRoot` is looking for `vmware.exe` which doesn't exist when using player (only `vmplayer.exe` key exists).

[2016-04-22 16:46] pecigonzalo commented on #16
Sorry for the delay, my laptop is under repair.
run: `docker-machine -d start dev` that should output debug log, then past it here.

Osaris, you are correct, i missremember the lookup function. I just took a look at it, and if you have the vmrun file you can use `VMWARE_HOME` environment variable to specify its location. Ill add that to the README as well.

[2016-05-11 18:12] jonl-percsolutions-com opened #18 "[v1.0.0] ssh key not being created"
docker-machine : v0.7.0
docker-machine-vmwareworkstation: v 1.0.0
VMWare Workstation: Licensed v 10.0.7
Windows 7 64-bit

VM is created and started but server.pem ssh key is never created.  Rand create with --debug and nothing was output in regards to the ssh key.  Keep receiving message, waiting on ssh service.  Below is the full output of the log.

Attempted regenerate certs and still no go:

[2016-05-12 07:16] pecigonzalo commented on #18
You are running this from mingw and from X: drive correct?
Could you try:
- mingw from C: drive
- powershell X:
- powershell C:

I believe it could be related to it running from a different drive.

Thanks

[2016-06-03 00:23] jonl-percsolutions-com commented on #18
I am running from the C drive, I just obfuscated the paths to my home directory before posting the issue.
However, i figured it out, the issue was that my NAT network was corrupted and the host was not receiving a valid ip on the appropriate network.

[2016-06-03 00:29] jonl-percsolutions-com commented on #18
Closing issue due to vmware network configuration issue, unless you want to add a check on the ip address of the host.

[2016-06-03 00:29] #18 closed

[2016-06-15 07:41] pecigonzalo commented on #9
Fixed in #17

[2016-06-15 07:41] #9 closed

[2016-06-17 17:44] cajund opened #19 "Trouble mounting a volume"
Hi There,

We got your driver working out of the box on our Windows 8, VMWare Workstation 10.0.1 environment (which was awesome, BTW), but we are having trouble seeing our mounted volumes inside the container. The mount appears to be happening, but none of the files are appearing in the container FS.

Could this be an issues with VMWare Workstation and not your driver? When we inspect the image, t

[2016-06-17 19:15] pecigonzalo commented on #19
@cajund Can you check `mount` and print the output here to verify the volumes are being mounted anywhere?
You could try mounting manually, to see if that works, and that could help us troubleshoot this.

Ref: [https://pubs.vmware.com/workstation-9/index.jsp?topic=%2Fcom.vmware.ws.using.doc%2FGUID-AB5C80FE-9B8A-4899-8186-3DB8201B1758.html](url)

Thanks!

[2016-06-19 19:38] cajund commented on #19
Hi, and thanks for the quick reply.

The "Mounts" element from the inspect command looks like this:

[code]

However, the mount command from the container looks like the attache image. Please note the "tmpfs" notation.

We will try the mounting manually as well.

Thanks again.

![pasted_image_at_2016_06_19_03_22_pm](https://cloud.githubusercontent.com/assets/1558588/16179428/ae1bd2c6-3633-11e6-8cf

[2016-06-20 07:52] pecigonzalo commented on #19
@cajund Thanks for theoutput of the command, but im afraid i need the output from the docker host.
I need the mount information for the docker host, IE: the machine created by docker machine.

Could you ssh into the b2docker machine and check if the mounts are working there?

Could you also verify the path `/c/Users/Jonny/Documents/work-repos/syntacthealthcare.com`exists on the docker host?
I also

[2016-06-20 14:21] codemusket commented on #19
![image](https://cloud.githubusercontent.com/assets/11220505/16197608/bde381ca-36d0-11e6-8722-be6953ba1e3c.png)

docker@default:~$ sudo ls -l /c/Users/Jonny/Documents/work-repos/syntacthealthca
re.com
total 0
-rw-r--r--    1 root     root             0 Jun 19 19:31 ←[0;0mdocker←[0m
docker@default:~$

Well it seems the folders exist, just nothing there

also the command has been updated to reflect

[2016-06-21 08:06] pecigonzalo commented on #19
There doesn't seem to be any vmware->b2docker mount at that location.
As you can see on that screenshot the only mount is on /mnt/hgfs

This could be an issue with your setup, or an issue with the driver. Could you try mounting manually the share there doing:

[code]

and then `ls /Users`

BTW, which version of the driver are you using?

[2016-06-21 16:10] codemusket commented on #19
I think I downloaded v1 the latest, as is my usual.

Sorry, I'm new to this. Should I change my path from /Users to my full path?

![image](https://cloud.githubusercontent.com/assets/11220505/16237136/10c55d7c-37a9-11e6-929a-0cdf4b884b1a.png)

[2016-06-21 16:14] pecigonzalo commented on #19
Ok, seems like i know what the issue is, you b2docker is mounting /c/Users which does not contain anything, try using /Users instead as your mount directory.

The ability to use /c/Users will be added on the next release.

Try that and let me know how it goes.

PS: Please past text as using the code markdown format, its easier to read/search than screenshots.

[2016-06-21 18:40] codemusket commented on #19
Here's the inspect mounts:

[code]

[code]

Also, I'm getting this on docker ps

[code]

No ip, not showing the web container

[2016-06-22 11:25] pecigonzalo commented on #19
The output says `mountpoint is not empty` did you check /Users to see if the user folders are present?

[2016-06-22 13:48] codemusket commented on #19
Ok, so yes this time the whole /Users.../work-repos/.. file folder path exists! But there are no files in the last folder, but on my machine their are.

[2016-06-22 13:50] pecigonzalo commented on #19
Maybe there is a permissions issue ? If the folder and subfolders exist (we only mount to C:\Users to /Users ), there might be a VMWare issue and not something related to the driver.
Regarding the paths, im working on making that more flexible, it should be done soon.

[2016-06-22 14:24] codemusket commented on #19
[code]

Well permissions did seem to play a role, I could only see some of the files after using sudo..

[2016-06-22 14:56] pecigonzalo commented on #19
No, im talking windows permissions, on the mounted folder you are trying to access.

The driver will try to mount `c:\Users` under `/Users` on the boot to docker vm. So if you are seeing a Jonny folder, that folder is being displayed because the mount did work. Now you dont seem to see any files on it. I would check your folder permissions and for any VMWare issues.

You could try manually modifyi

[2016-07-05 14:44] cajund commented on #19
@pecigonzalo, we worked around this issue on our end and moved back to VBox as a result of an OS upgrade on our end. Closing this so it's no longer on your radar. Thanks for your help!

[2016-07-05 14:44] #19 closed

[2016-07-05 17:36] JettJones commented on #19
I'm similarly seeing the docker host coming up without the /c/Users/ file share.
I'm running
vmware workstation `12.1.1 build-3770994`
docker-machine `0.7.0` and docker `1.11.1` on
Windows 10 Pro.

On the docker host VM, I only see one vmhgfs mount:

[code]

This immediately after running `docker-machine create --driver vmwareworkstation`.  On a previous attempt I created a container with a volume

[2016-07-05 17:41] JettJones commented on #19
Oops, streams crossed and now I'm commenting on a closed bug - I can take my issues to a new bug if that's easier.

[2016-07-05 21:18] JettJones opened #20 "VM does not mount the Users directory"
Similarly to #19, I'm seeing the docker host coming up without the /c/Users/ file share.

I'm running on `Windows 10 Pro` with
`vmware workstation 12.1.1 build-3770994`
`docker-machine 0.7.0` and `docker 1.11.1`

On the docker host VM, I only see one vmhgfs mount:

    $ mount | grep vm
    vmhgfs-fuse on /mnt/hgfs type fuse.vmhgfs-fuse (rw,nosuid,nodev,relatime,user_id=0,group_id=0,allow_other)

[2016-07-06 08:37] pecigonzalo commented on #20
What version where you running? latest build or latest release?

[2016-07-06 09:31] pecigonzalo opened #23 "Allow custom mount path selection"

[2016-07-06 16:37] JettJones commented on #20
v1.0.0 from here: https://github.com/pecigonzalo/docker-machine-vmwareworkstation/releases  I'll give the new version, 1.0.10 a try.

[2016-07-06 18:51] JettJones commented on #20
1.0.10 fixes the file mount(s)!  Running `vmrun enableFileShares` on my host _still_ fails, so that's apparently not diagnostic.  I'm not sure which change in that set was fully responsible - maybe some of the simple path updates for windows.

In short, looks fixed in the latest build - I'll close this out.

[2016-07-06 18:51] #20 closed

[2016-07-06 19:57] pecigonzalo commented on #20
@JettJones Thanks for reporting back, i believe the wrong artifact ended up as v1.0.0 as it was working in the past, ill rebuild it and correct that anyway, in case someone has issues with v1.0.10

[2016-08-05 03:19] gtirloni opened #25 "Merge with upstream?"
First, thank you very much for working on this. It makes life more bearable for some of us using VMware.

I can report it worked great with VMware Workstation 12.1 on Windows 10 (AU).

Are you considering submitting this upstream to Docker?

[2016-08-05 10:06] pecigonzalo commented on #25
@gtirloni Great to hear this! and i love knowing is helping other people.
I did submit this upstream, but i was asked by the docker team to keep it as plugin.

You can check the info here: https://github.com/docker/machine/pull/2300

[2016-08-05 12:07] gtirloni commented on #25
It's unfortunate they won't accept it. It would be a much better experience for end users (and the driver could always be dropped if they lack the bandwidth to support it).

I guess now that they have released Docker for Win/Mac and it depends on Hyper-V/xhyve, we might not be seeing much activity on Docker Machine and Docker Toolbox, but that's just a hunch.

Thanks again, really appreciated!

[2016-08-05 13:00] #25 closed

[2016-08-06 10:48] StefanScherer commented on #25
@gtirloni Just curious. How do you have installed docker-machine and this plugin? Through Chocolatey or downloaded the binaries manually?

[2016-08-06 14:53] gtirloni commented on #25
@StefanScherer I downloaded the plugin manually and put it in the Docker Toolbox folder like [this](https://github.com/docker/toolbox/issues/107#issuecomment-237257075).

[2016-08-06 15:09] StefanScherer commented on #25
@gtirloni Thanks for the link and how you made it work for you.

[2016-08-07 11:39] pecigonzalo commented on #25
@gtirloni Mind if i put those steps on the README? they might help other people

[2016-08-08 03:36] gtirloni commented on #25
No worries. Thank you.

On Aug 7, 2016 08:39, "Gonzalo Peci" notifications@github.com wrote:

[2016-08-18 16:45] brunnels opened #27 "Allow custom ip address and adapter type"
Could you please add parameters to set the network connection type for the VM and also the ip address or hostname to utilize?

On my dev box the firewall is locked down on all adapters so I can't ping or ssh to the NAT device.  I can trick it into finishing now by changing the VM to bridged and then manually set the ip address in the dhcp leases file.

Our dhcp server will always create a dns entr

[2016-08-18 20:57] pecigonzalo commented on #27
Ill give this a look as soon as i have time! good suggestion

[2016-08-28 10:42] Festum opened #28 "Unable connect to docker machine"
OS: Windows 10 1511 x64
VMware v12

[code]

[2016-08-28 12:34] pecigonzalo commented on #28
@Festum Can you post debug logs?

[2016-10-04 12:03] nlzet opened #29 "Machine didn't return an IP after 120 seconds, aborting"
Hi I just tried this setup but I can't seem to get it working.

History:

    docker-machine create --driver=vmwareworkstation dev
    Running pre-create checks...
    Creating machine...
    (dev) Copying C:\Users\niels\.docker\machine\cache\boot2docker.iso to C:\Users\niels\.docker\machine\machines\dev\boot2docker.iso...
    (dev) Creating SSH key...
    (dev) Creating VM...
    (dev) Creating d

[2016-10-04 14:24] pecigonzalo commented on #29
Hi! yes, please issue `docker-machine --debug create --driver=vmwareworkstation dev` should output the debug logs.

Thanks

[2016-10-04 14:38] nlzet commented on #29
Thanks,

Weird, I thought I tried that, but here is my update:

[code]

[2016-10-04 14:47] pecigonzalo commented on #29
@nlzet
What version of vmware are you running?
Could you past your `C:\Users\niels\.docker\machine\machines\dev\dev.vmx` file?

[2016-10-04 14:58] nlzet commented on #29
@pecigonzalo
Product: VMware® Workstation 12 Pro
Version: 12.5.0 build-4352439
Host OS Version: Windows 10, 64-bit  (Build 10586) 10.0.10586

[2016-10-04 15:05] pecigonzalo commented on #29
Ok, ill test with that version once i have my windows dev box nearby, could you check the vmx file in the meantime? because it seems it might not be finding the key that contains the MAC address there, so it doesnt know what IP to use for the connection.

[2016-10-04 15:24] nlzet commented on #29
Here it is:

[code]

[2016-10-04 17:18] pecigonzalo commented on #29
@nlzet I would say try removing the file and running again. Seems like vmware did not generate a Mac address for you. I just tried, W10, Workstation 12 and it works.

[2016-10-05 16:27] nlzet commented on #29
Aha, it works now. Sad thing is I tried multiple solutions at once, so I don't know the real solution.
- make more disk size available (had 7 gb, so I expect that this wasn't the solution)
- re-install everything from a previous docker installation (docker toolbox, docker for windows, virtualbox, and I also disabled Hyper-V via windows features and then rebooted)

[2016-10-05 16:27] #29 closed

[2016-10-05 19:05] pecigonzalo commented on #29
@nlzet Didnt knew you had Hyper-V, im 99% sure that was the issue, so the VM never started and would never get a MAC Address so the the driver cant find the IP to connect.
You can't run hyper-v and vmware workstation at the same time, once you boot with Hyper-V it "binds" itself to the "virtualization" portion of the kernel and nothing else can bind.

You can use this method to easily switch betwe

[2016-10-06 05:39] nlzet commented on #29
@pecigonzalo Thanks for you information, I didn't know this. From the documentation of Docker I knew that when I installed Docker for Windows + Hyper-V that Docker with Virtualbox would stop working, but I didn't knew it would give a conflict with VMWare.

Probably because I don't know anything about VMWare, but I wanted to try this solution to see if the performance of shared folders on VMWare wa

[2016-10-06 17:41] #28 closed

[2016-11-13 14:13] Miladiir opened #30 "Cannot connect to SSH"
Hi,
I might need your assistance here since I have absolutely no clue what is going wrong with my setup. Other than VMWare itself I installed everything with chocolatey. I guess I have the latest versions then.

I attached the debug log and some other stuff I think you might need.

[dev_vmx.txt](https://github.com/pecigonzalo/docker-machine-vmwareworkstation/files/587780/dev_vmx.txt)
[log.txt](htt

[2016-11-15 11:44] Miladiir commented on #30
Despite all the errors it seems like the instance is actually running and connectable.

[2016-11-15 11:44] #30 closed

[2016-11-15 14:56] bottkars commented on #30
try to run from git bash ...

[2016-11-15 15:59] pecigonzalo commented on #30
@Miladiir as @bottkars pointed out, try using it from the git bash, i think this might be related to the openssh client you are using.

Thanks

[2016-11-16 03:47] ray-g opened #31 "Docker machine VM re-deployed every time."
In start.sh
[code]
There are duplicated `"` in `grep \""${VM}"\"` makes grep cannot match the host name.
Please correct it as `grep $VM` or `grep "${VM}"`

[2016-11-17 11:53] pecigonzalo commented on #31
Thanks for the report, ill give it a look ASAP.

[2016-11-21 09:51] festum commented on #28
@pecigonzalo I found the problem is caused by default OpenSSHd as default ssh client in SysEnvPath. Solved by changing it to Portable Git's ssh binary.

[2016-11-21 10:12] pecigonzalo commented on #28
Thanks for reporting back, i think another user just had the same issue, i will look to submit a fix to upstream docker-machine

[2016-11-24 03:53] Festum opened #32 "Cannot initiate docker machine in symlink path"
OS: Windows 10 build 14393 x64
VMware Workstation Pro v12.5.2
docker-machine-vmwareworkstation v1.0.10

Using symlink for path C:\Users\{USER}\.docker\machine will get `Error creating machine: Error waiting for machine to be running: Maximum number of retries (60) exceeded`.

![log](http://i.imgur.com/5A84YvL.png)

[2016-11-30 06:31] ray-g opened #33 "Docker Host VM re-deployed if the VM is not running."
`vmrun list` only lists running VMs. It cannot detect if a Docker Host VM is existing but stopped.

So, if the Docker Host VM is not configured as a autostart shared VM, after a system reboot, Docker Host VM will be re-deployed.

[2016-11-30 10:12] pecigonzalo commented on #32
Sorry that i did not tag/reply sooner, i just saw this issue.

[2016-12-15 20:56] dalibor983 opened #34 "Waiting for SSH to be available... (waiting forever)"
With vmware workstation v12.5.2 commands:

[code]

stuck on message `Waiting for SSH to be available...`.

[2016-12-15 21:23] StefanScherer commented on #34
Try with debug output `docker-machine -D ...`. Which version of `docker-machine.exe` do you use?

[2016-12-15 22:22] zd-dalibor commented on #34
@StefanScherer Something is messed up with my vmware virtual network. When I restored everything to default in vmware virtual network editor docker-machine commands started to work.

[2016-12-15 22:22] #34 closed

[2016-12-31 10:09] fighne opened #35 "problem when using rancheros + vmware workstation driver"
So running

$> docker-machine create --driver=vmwareworkstation vm-base
the above works fine
$> docker-machine create -d virtualbox --virtualbox-boot2docker-url https://releases.rancher.com/os/latest/rancheros.iso vb-rancher
the above works fine
docker-machine create--driver=vmwareworkstation --vmwareworkstation-boot2docker-url https://releases.rancher.com/os/latest/rancheros.iso vm-rancher
doesn'

[2016-12-31 13:04] StefanScherer commented on #35
@fighne Can you run `docker-machine -D create --driver=vmwareworkstation --vmwareworkstation-boot2docker-url https://releases.rancher.com/os/latest/rancheros.iso vm-rancher` to show more debug output?

Do you know if Rancher has added the VMware Tools inside the ISO?

[2016-12-31 13:33] StefanScherer commented on #35
Got my machine and tried it myself.

[code]

Each of the `vmrun.exe` calls take minutes. Still provisioning...

[2017-01-02 11:04] pecigonzalo commented on #35
Does this work with any other driver?

[2017-01-02 12:47] StefanScherer commented on #35
Does not work with VMware Fusion either.

[code]

[2017-01-02 13:27] pecigonzalo commented on #35
@StefanScherer im sorry but i dont have access to my WS at the moment, do you know if it works with VBox? As i think VMware products could all have the same issue (drivers)

[2017-01-02 13:41] StefanScherer commented on #35
@pecigonzalo Yes, it works, both on Win7 and on macOS.

[2017-01-02 13:59] pecigonzalo commented on #35
@StefanScherer I believe due to vmware tools/libs missing the commands are just not executing and timing out, that's why the additional wait time as well.
This is not caught as an error by `vmrun` and just continues.

[code]
http://www.vmware.com/pdf/vix180_vmrun_command.pdf

[2017-01-03 06:51] fighne commented on #35
I'm not aware that it has VMware tools installed on the ISO is this a condition of using the vmware driver?

[2017-01-03 09:29] pecigonzalo commented on #35
@fighne Unfortunately i believe that is the case. The VMWare tools AFAIK are required to run scripts on the guest.

[2017-01-03 10:17] fighne commented on #35
ok, so where would be best to install the VMWare tools? As RancherOS runs two instances of Docker, one for the OS and the other Docker instance.

[2017-01-03 10:18] pecigonzalo commented on #35
@fighne they need to be pre bundled in the image, it might be best to ask them about this.

[2017-01-03 10:20] fighne commented on #35
Ok I'll go and ask, as I think this will be the same issue with trying to start an instance on the ESXi server.
Thanks for the help so far. - Pete

[2017-01-03 10:21] pecigonzalo commented on #35
ESXi might be different as it could be running through SSH. Ill give the ESXi code a look.

[2017-01-03 10:25] pecigonzalo commented on #35
Check this out: https://github.com/rancher/os/issues/219

[2017-01-06 11:51] fighne commented on #35
Thanks left a comment asking about the status!

[2017-01-09 15:03] #35 closed

[2017-01-21 22:43] masaeedu commented on #32
Seeing the same issue when I symlink the entire .docker folder from another drive. Being able to symlink this folder is useful, because the VMDK starts taking up considerable space with heavy use.

[2017-01-22 21:52] StefanScherer commented on #35
@fighne You may try Rancher's latest pre-release https://github.com/rancher/os/releases/tag/v0.8.0-rc5

[2017-01-23 19:13] pecigonzalo commented on #32
@masaeedu @Festum does the same happen on lets say, virtualbox driver?

[2017-01-23 21:36] #32 closed

[2017-01-23 21:37] pecigonzalo commented on #32
@masaeedu @Festum This should be fixed now. Please let me know if it doesnt.

[2017-01-26 10:10] drschlaumeier opened #37 "vmware not starting"
Hallo,

I tried to run docker toolbox together with vmware 11.

I did the following
- installed docker toolbox without virtualbox
- copied docker-machine-driver-vmwareworkstation.exe
- copied start.sh
- in start .sh changed export PATH="$PATH:/mnt/c/Program Files (x86)/VMware/VMware Workstation"
to export PATH="$PATH:/c/Program Files (x86)/VMware/VMware Workstation"

However, it failed during crea

[2017-01-26 11:12] pecigonzalo commented on #37
@drschlaumeier how are you? I have some questions before I can help you:
* Could you provide DEBUG logs?
* Why did you change the PATH?
* What console are you executing this from? (cmd, powershell, msys/cygwin)

Let's first focus on getting docker-machine to work, then we can worry about docker-toolbox.

[2017-01-26 11:56] drschlaumeier commented on #37
Hallo pecigonzalo,
i'm fine. ...trying to learn more about docker :-)

--> How do I produce debug logs? With --debug option?

--> Because I'm getting "bash: vmrun.exe: command not found" in Docker Quickstart Terminal.
--> If I change from /mnt/c/ to /c/ the error disappears

--> I start the Docker Quickstart Terminal. i suppose it uses windows cmd shell.
--> If I execute manually docker-machine, I

[2017-01-26 12:07] pecigonzalo commented on #37
To run with debug logs you need to do
[code]
Interesting about the path, maybe they changed the mount location, could you verify? If that is the case, ill update the docs.

[2017-01-26 14:52] drschlaumeier commented on #37
OK, I deleted the .docker directory with all machines etc.
Than I called "docker-machine.exe --debug create --driver=vmwareworkstation dev" from windows cmd promt in Docker Toolbox install directory.
Interestingly, this time the vmx did start but still cannot connect. I checked with "vmrun.exe list"
 I did not do anything different except that I cleaned the .docker directory.
Enclose please find t

[2017-01-26 15:14] pecigonzalo commented on #37
@drschlaumeier Can you confirm you have an IP on the VM? (by using the VMware console, you can add the machine by adding the VMX file on VMWare Workstation)

[2017-01-26 17:59] drschlaumeier commented on #37
@pecigonzalo, you are right...the boot2docker image has no ip.
If I start the vmx in vmware, there is no ip address for eth0 00:0c:29:f3:6c:a2. No idea why.
There is another network called docker0 with IP 172.17.0.1

Any idea?

[2017-01-26 18:14] drschlaumeier commented on #37
Ahhh, I think I know whats the problem:

The vmx is configured for NAT. The vmx does not receive the IP. No Idea why.

If I configure for Bridged, than I receive IPv6 address.
However, my entire network is IP 4 based. All IP6 is disabled.
No Idea why/where boot2docker image gets a IP6 address.

[2017-01-27 07:20] drschlaumeier commented on #37
After researching a bit:
I believe the problem lies in my machine is managed by company admin. The internet sharing connection of LAN/WIFI card has been disabled by admin....so, no NAT available. I could use bridge mode but the start.sh script is overwrting the VMX settings everytime ???
I tested bridge mode manually in VM console which was working, I mean I got IP in VM.

[2017-01-27 08:39] pecigonzalo commented on #37
Yeah, that seems likely. When `start.sh` runs, the VMX that we the driver generates overwrites the one you modify. Ill submit a PR over the weekend to add the option to use Bridge mode.

[2017-01-27 10:17] drschlaumeier commented on #37
@pecigonzalo
Hold on...I believe that there will be still a problem with bridge mode.
docker-machine searches for local dhcp leases (probably with ipconfig /all) but in bridge mode the VM receives IP from external DHCP router. So the error will still exist
[code]
The mac 00:0c:29:f3:6c:a2 is only inside the VM and windows host does not see it. Instead it sees the mac mapped by "VMware Network Adap

[2017-01-27 11:24] drschlaumeier commented on #37
@pecigonzalo
Sorry, you can close that issue.
I reinstalled vmware workstation and it solved all my issues. Maybe I messed up something with the network adaper.
Also the start.sh script works now.

Many thanks for the help.

I will open new question regarding kitematic.

[2017-01-27 12:02] drschlaumeier opened #38 "How to get Kitematic running?"
Hallo,
I installed Docker Toolbox together with Kitematic in order to automate the docker images.
However, Kitematic starts and drops error:
`
Error: connect ENOENT //./pipe/docker_engine`

There is same error if I press RETRY.
If I press Use Virtualbox the error is

`Virtualbox not installed. Please install it via the Docker Toolbox.`

Any help is apprechiated.

[2017-01-27 12:51] pecigonzalo commented on #37
Thanks for reporting back. This is great news :D

[2017-01-27 12:51] #37 closed

[2017-01-27 12:53] pecigonzalo commented on #38
@drschlaumeier https://docs.docker.com/kitematic/ Kitematic is no longer supported, i believe its trying to user virtualbox.

[2017-02-14 12:59] pessimism opened #39 "PATH entry in start.sh is incorrect"
Current installations need path entries starting with /c, not /mnt/c

[2017-02-14 13:00] pessimism opened #40 "vmrun.exe missing error"
VMware workstation 12.5 pro doesn't include vmrun.exe anymore.  You have to download and install the VIX API SDK (VMware-VIX-1.15.0-2985596.exe) from their website to get it.  You then need another path entry on start.sh like below:

export PATH="$PATH:/c/Program Files (x86)/VMware/VMware Workstation:/c/Program Files (x86)/VMware/VMware VIX"

[2017-02-20 14:14] pessimism opened #41 "vmware player requires separate download for vmware-vdiskmanager.exe and the driver can't find it"
https://my.vmware.com/group/vmware/get-download?downloadGroup=VDDK65

() DBG | Unable to read registry key SOFTWARE\Microsoft\Windows\CurrentVersion\App Paths\vmware.exe\Path
() DBG | Error finding VMware root: The system cannot find the file specified.
() DBG | File not found: 'vmrun.exe'
() DBG | Unable to read registry key SOFTWARE\Microsoft\Windows\CurrentVersion\App Paths\vmware.exe\Path
() D

[2017-02-20 21:26] pecigonzalo commented on #41
Is this also related to VMWare Workstation 12?  #40

[2017-02-20 21:26] pecigonzalo commented on #40
Ill start looking into this ASAP

[2017-02-20 21:28] pecigonzalo commented on #39
Can you provide more information?
Windows Version?
Running from cygwin/WSL/msys2?

[2017-02-22 10:33] #38 closed

[2017-03-03 09:41] festum commented on #32
@pecigonzalo It working fine now :)

[2017-03-03 11:18] festum commented on #35
Failed on v0.8.1
[code]

[2017-03-03 11:38] festum opened #42 "Unable to create machine with custom SSH user"
[code]

[2017-03-03 12:11] pecigonzalo commented on #42
@Festum Can you also put the debug logs?
Thanks

[2017-03-10 06:05] ray-g commented on #40
I'm using `VMware Workstation Pro 12.5.0 build-4352439`, but I have `vmrun.exe` in my VMware Workstation path.

[code]

BTW, I saw that 12.5.3 is available for upgrade. I'll upgrade my VMware Workstation and check it again. Will update my result later.

[2017-03-10 06:25] ray-g commented on #40
Upgraded to `12.5.3 build-5115892`. it's still there, and has been upgraded as well. `vmrun version 1.15.7 build-5115892`

[2017-03-10 06:48] StefanScherer commented on #40
I can confirm that my VMware Workstation Pro 12.5 installation has `C:\Program Files (x86)\VMware\VMware Workstation\vmrun.exe`.

[2017-05-19 15:51] paschal77 commented on #42
Is there any update on this issue, perhaps? I am experiencing the same issue on Windows 7, Docker Toolbox with VMware Workstation Pro 12.5.

[2017-05-19 15:54] pecigonzalo commented on #42
@paschal77 It did not move forward as I never got the logs, could you please provide debug logs?

[2017-05-19 23:52] paschal77 commented on #42
@pecigonzalo Sorry, but I am not able to find anything that might look like debug logs. Can you point me in the right direction? Additionally, I found a switch you can use that will get past the SSH error (--native-ssh), requesting that the driver use the built-in SSH capability, but now I am receiving another error:

"Error creating machine: Error detecting OS: OS type not recognized"

Have you s

[2017-05-22 10:15] pecigonzalo commented on #42
`"Error creating machine: Error detecting OS: OS type not recognized"` I believe its an error of docker-machine, read: https://github.com/docker/machine/issues/3586.

For debug logs: `docker-machine --debug <THE REST OF YOUR COMMAND>`

[2017-05-24 06:16] festum commented on #42
@pecigonzalo Sorry for late response.

[code]

[2017-08-02 13:21] fernandoabcampos commented on #29
Hi @pecigonzalo , sorry for commenting on a closed issue, however, I've tried all the approaches discussed previously and I'm still getting a "Machine didn't return an IP after 120 seconds, aborting".

About what I've done:
[code]

After that (the following command was execute with and without disk size):

[code]

As shown, the log **Error finding VMware root: The system cannot find the file speci

[2017-08-02 13:52] fernandoabcampos commented on #29
I almost forget to mention - dev.vmx

[code]

And also VMware Workstation version: **12.5.7 build-5813279**

[2017-08-02 15:20] pecigonzalo commented on #29
@fernandoabcampos Would you mind opening a new issue and just referencing this one?

[2017-08-02 16:00] fernandoabcampos opened #45 "Machine didn't return an IP after 120 seconds, aborting - even with HyperV disabled"
Hi, guys,

I've tried all the approaches discussed previously and I'm still getting a "**Machine didn't return an IP after 120 seconds, aborting**".

About what I've done:

[code]
VMware Workstation version: **12.5.7 build-5813279**
After that as admin and as ordinary user I tried (the following command was executed with and without disk size):
[code]
As shown, the log Error finding VMware root: T

[2017-08-02 16:01] fernandoabcampos commented on #29
@pecigonzalo sure. I created the #45 many thanks.

[2017-08-02 17:07] bottkars commented on #45
can you run this please from powershell ?!
[code]

[2017-08-02 17:07] bottkars commented on #45
and give the output :-)

[2017-08-02 19:11] pecigonzalo commented on #45
I don't believe it's the path as https://github.com/pecigonzalo/docker-machine-vmwareworkstation/blob/9f849d6afe1d13d77083048923c51f9c17375d59/vmrun.go#L156 should catch that.

Questions:
- Can you start VMs manually on VMWare?
- Do you see the VM running? (you can try to open VMWare Workstation and "Open" the VM by opening the .vmx file)

The problem seems to be "similar" as the mac line is not p

[2017-08-03 07:15] fernandoabcampos commented on #45
Hi folks,
Here it goes the powershell results:
![image](https://user-images.githubusercontent.com/1016757/28909975-13832328-782b-11e7-88a3-5aaab94a6951.png)
Although I reinstalled the VMWare as Admin, this command still returned Binaries not found. Buuut,
Questions:

Can you start VMs manually on VMWare?
Yes, I run ` vmrun -T player start ./VM\ Automa.vmx` and another VM that I have here started w

[2017-08-03 08:20] fernandoabcampos commented on #45
[Complementary info]
If I try to run a machine created via `docker-machine -D create --driver=vmwareworkstation ... ` command, the answer for @pecigonzalo is **No**, in both cases. I'm not able to run them neither from command line nor from VMWare Workstation.
[code]

![image](https://user-images.githubusercontent.com/1016757/28912635-5885d9e8-7835-11e7-9942-1cab66124055.png)

[2017-08-03 08:59] pecigonzalo commented on #40
@pessimism Ill close this issue as there were no more updates from you. Please comment if you believe this needs to be reopened.

[2017-08-03 08:59] #40 closed

[2017-08-03 09:00] pecigonzalo commented on #41
Closing issue as no updates from the reporter.

[2017-08-03 09:00] #41 closed

[2017-08-03 09:01] pecigonzalo commented on #45
@fernandoabcampos I missed this from the logs (sorry, was on mobile) but this is probably it
[code]
So it could be related to having VMware installed on a different path as you mentioned before.

[2017-08-03 09:05] fernandoabcampos commented on #45
No problem at all @pecigonzalo
So I suppose it might be related to my local VMware installation. I'll try to have a look and find a solution.

[2017-08-03 09:07] pecigonzalo commented on #45
@fernandoabcampos, Its odd that it can't find the keys in the registry, as they should exist always AFAIK. Maybe you can manually check for them or as a test create them, to verify that works.

We should terminate execution when they are not found, ill do a PR from this issue to terminate and report the error instead silently failing.

[2017-08-03 09:10] fernandoabcampos commented on #45
OK @pecigonzalo, thanks.
In the meantime, I'll be checking if I can find my local environment issue (and when I find, I'll comment here just in case someone else walks through the same).

[2017-08-03 09:10] pecigonzalo opened #46 "docker-machine should terminate if it cant find the CLI requirements"
As seen on #45 docker-machine silently continues even when it can't find the CLI tools it requires to do anything, this creates 2 issues:
- Unnecessarily wastes time doing "nothing" as it does not have the tools
- Hides the issue and requires to run in debug mode to show the error

[2017-08-03 09:15] pecigonzalo commented on #45
@fernandoabcampos as a test, could you set the env `VMWARE_HOME` to the path where `vmrun.exe` is before running `docker-machine` ?

[2017-08-03 09:35] fernandoabcampos commented on #45
Sure, the results:

[code]

Unfortunately, the same.

[2017-08-03 10:19] pecigonzalo commented on #45
But it did find `vmrun.exe` on this run, its missing `vmware-vdiskmanager.exe` can you check where is that in your system?

[2017-08-03 12:15] fernandoabcampos commented on #45
Hi guys, update:
You're right, vmware-vdiskmanager.exe wasn't installed. Either I missed something from your doc or my installation was incomplete. Anyway, I downloaded from VMWare website a **VMware-vix-disklib-5.1.0-774844.i386.exe** and after installing it, the error (missing `vmware-vdiskmanager.exe`) disappeared.

The new log:
[code]

I know that you've dedicated some time helping me out to i

[2017-08-03 12:26] pecigonzalo commented on #45
Did you let it run till the end?

[2017-08-03 12:27] fernandoabcampos commented on #45
Sorry, I didn't mention it - yes I let it run until the end.

[code]

[2017-08-27 05:17] sxyzy1016 opened #47 "Cannot create RancherOS machines"
My Docker & Docker-Machine versions are:
docker --version:
`Docker version 17.06.0-ce, build 02c1d87`
docker-machine --version:
`docker-machine.exe version 0.12.2, build 9371605`
And when I try to create a RancherOS machine (as [here](http://rancher.com/docs/os/v1.0/en/running-rancheros/workstation/docker-machine/) says):
`docker-machine create --driver "vmwareworkstation" --vmwareworkstation-boot

[2017-08-27 18:17] pecigonzalo commented on #47
Hi! have you checked https://github.com/pecigonzalo/docker-machine-vmwareworkstation/issues/35 ?

Also please paste your debug logs.

[2017-08-27 22:52] sxyzy1016 commented on #47
Hi! Issues checked.
And the debug.log is [here](http://60.205.203.209/debug.log)

[2017-08-28 07:19] pecigonzalo commented on #47
@sxyzy1016 Please paste the debug logs inline, this is to ensure we have tracking for this errors.

[2017-08-28 15:43] sxyzy1016 commented on #47
@pecigonzalo OK. Here it is.
[code]

[2017-08-28 18:15] pecigonzalo commented on #47
Seems like the SSH client is unable to connect to the VM. Can you try starting this and while its looping try manually connecting using SSH? or maybe even ping the IP address on `(rancheros) DBG | IP found in DHCP lease table: `

[2017-08-28 18:16] pecigonzalo commented on #42
This seems similar to #47 could you give my last comment there a look?

[2017-08-28 18:17] pecigonzalo commented on #39
Closing issue as no updates from user.

[2017-08-28 18:17] #39 closed

[2017-08-29 11:28] sxyzy1016 commented on #47
Got this:
[code]
So:
[code]
And:
[code]
I checked vmware.log. The log said rancheros doesn't have Vmware Tools in the guest machine, or Vmware Tools cannot start up in it.

[2017-08-29 11:38] sxyzy1016 commented on #42
I got this one, too, on Windows 10 with Vmware Workstation 12.5.7.
Neither user name nor password can be changed.

[2017-08-29 11:46] pecigonzalo commented on #47
Ok, from those logs its seems you cant ssh to it, so neither can docker-machine. This seems a problem with the image and not with this driver.

I believe the VM use `open-vm-tools` but you will have to confirm that yourself, depends on the versino that you are using, check: https://github.com/rancher/os/issues/219

Is `docker@` the correct user for the RancherOS image?

[2017-08-30 10:55] sxyzy1016 commented on #47
Surely now it's the image's problem. And upgrade RancherOS image to v1.1.0-rcx seems good. But I don't have a good network connect to DockerHub and open-vm-tools service never start successfully before the `vmrun ...` commands fail. So I have to do all the things in guest machine manually:
[code]
And in the host:
[code]
Then re-run all the `vmrun ...` commands and restart guest machine. And then t

[2017-08-30 11:57] pecigonzalo commented on #47
I dont understand if your first comment is sarcastic or just accepting it is a problem of the image. In any case, if the machine started open-vm-tools automatically the SSH keys would be copied and probably the rest of the steps would work. If RancherOS does not auto start that, there is not much I can do.

I would suggest creating your own custom image with open-vm-tools installed and enabled and

[2017-08-30 12:06] SvenDowideit commented on #47
I would suggest setting up a registry mirror to locally cache hub images.

[2017-08-30 13:50] sxyzy1016 commented on #47
I was just talking about my problems. And here, I think the problems have been solved. The next steps are, maybe customize an image with vmtools in it, and/or find a faster mirror of Docker Hub.

[2017-08-30 13:59] pecigonzalo commented on #47
Ok, ill close this issue for now, if you continue to have problems, feel free to re open or open a new case.

Regarding the mirror, I have always run it in docker itself, which its kind of tricky for you use case, but check: https://github.com/docker/distribution/releases

[2017-08-30 13:59] #47 closed

[2017-08-31 19:48] jeremyml opened #48 "Add mfsymlinks SMB option to support symlinks on bind mounted folder"
Docker for Windows 1.12.1 has a new feature to allow `mfsymlinks `SMB option to support symlinks on bind mounted folder.  This allows making sym links in linux when binding a linux guest volume to a windows host volume.

https://docs.docker.com/docker-for-windows/release-notes/#docker-for-windows-1121-2016-09-16-stable

Can we get support for this in Docker Machine VMware?

[2017-09-20 04:09] VAllens commented on #37
Hi, all.
Each time the “Docker Quickstart Terminal” is executed, the "default" instance is recreated and the previous "default" instance is covered.
Can you tell me why?

[2017-09-20 06:49] VAllens opened #49 "shart.sh bug"
## **1.Path error**
`export PATH="$PATH:/mnt/c/Program Files (x86)/VMware/VMware Workstation"`
**should be changed to**
`export PATH="$PATH:/c/Program Files (x86)/VMware/VMware Workstation"`

## **2.Syntax error**
`vmrun.exe list | grep \""${VM}"\" &> /dev/null`
**should be changed to**
`vmrun.exe list | grep "${VM}" &> /dev/null`

## **This full code:**
[code]

[2017-09-20 07:32] pecigonzalo commented on #48
Will try and work on this.

[2017-09-20 07:34] pecigonzalo commented on #37
@VAllens Please open a new issue for that as its not related to this and provide a description of the issue.

[2017-09-20 07:48] VAllens commented on #37
@pecigonzalo fine, look issue : [https://github.com/pecigonzalo/docker-machine-vmwareworkstation/issues/49](url)

[2017-09-20 07:49] VAllens commented on #49
Now, this sh script is running pretty well on my machine

[2017-09-20 08:24] pecigonzalo commented on #49
Please submit a PR with it, thanks!

[2017-09-20 08:37] VAllens commented on #49
I submitted a PR

[2017-10-02 21:13] ramomo opened #51 "Is this plugin support an windows7 32bit ?"
i'm using an windows7 (32bit)
is this plugin support an windows7 32bit ?
if no so, are there other ways to working?

[code]

[2017-10-04 11:02] pecigonzalo commented on #51
@ramomo Unfortunately it is compiled for 64bit only for now. You can compile it for 32bit I believe but its not done in the current releases

[2017-10-12 12:16] haohello commented on #45
@fernandoabcampos  Maybe you can try to run the commands in the Administrator mode and then see what happens.

[2017-10-14 02:34] colindnz commented on #45
Hi guys, I getting the same timeout after 2min msg as @fernandoabcampos
EXCEPT i hv multiple ws8 vm's running on win 7 successfully.
YES I ran cmd as admin

HOWEVER i get this msg when running
C:\Windows\system32>docker ps
error during connect: Get https://colindnz-pc:2376/v1.32/containers/json:
 dial tcp [fe80::ac67:68ce:62dc:49cd%VMware Network Adapter VMnet1]:2376:
 connectex: No connection cou

[2017-10-14 03:06] colindnz commented on #45
I do hv
DOCKER_CERT_PATH set to %USERPROFILE%\.docker\machine\certs
DOCKER_HOST set to tcp://colindnz-pc:2376
DOCKER_TLS_VERIFY set to 1

[2017-10-16 20:45] colindnz commented on #45
I should mention docker installed & run using chocolatey
and this msg produces an interesting variation

C:\Users\ColinDNZ>docker version
Client:
 Version:      17.09.0-ce
 API version:  1.32
 Go version:   go1.8.3
 Git commit:   afdb6d4
 Built:        Tue Sep 26 22:40:09 2017
 OS/Arch:      windows/amd64
error during connect: Get https://colindnz-pc:2376/v1.32/version: dial tcp [fe80
::ac67:68ce:

[2017-10-17 02:34] colindnz commented on #45
reinstall Docker & DockerMachine
https://github.com/pecigonzalo/docker-machine-vmwareworkstation
DockerToolbox.exe /COMPONENTS="Docker,DockerMachine"
try again
docker-machine create --driver=vmwareworkstation play
same problem after 2min no ip
tried
C:\Users\ColinDNZ\mapped\zip\docker>docker info

time="2017-10-17T15:27:21+13:00" level=warning msg="Unable to use system certificate pool:
 crypto/x5

[2017-10-20 00:16] ghost commented on #49
This is probably a symptom of WSL (Windows Subsystem for Linux) bash vs git bash.  If you have WSL installed on Windows 10 then the WSL bash is first in the path and the mountpoint for the C drive is different than what git bash has.  I don't know why we can't all get along: /c /mnt/c /cygdrive/c  🙄

If you use:
`export PATH="$PATH:/c/Program Files (x86)/VMware/VMware Workstation:/mnt/c/Program Fi

[2017-11-12 23:12] giovannicandido opened #52 "Failed to run with Vmware Workstation 14"
Virtual machine is created but do no run. (It do not appear in vmware gui)

C:\Users\giova\.docker\machine\machines\dev\dev.vmx /bin/sh [ ! -d /Users ]&& sudo mkdir /Users;[ ! -d /c ]&& sudo mkdir -p /c;[ ! -d /c/Users ]&& sudo ln -s /Users /c/Users;[ -f /usr/local/bin/vmhgfs-fuse ]&& sudo /usr/local/bin/vmhgfs-fuse -o allow_other .host:/Users /Users || sudo mount -t vmhgfs .host:/Users /Users
(de

[2017-11-12 23:15] giovannicandido commented on #52
Output of vmrun.exe list:

[2017-11-12 23:27] giovannicandido commented on #52
Fixed with #50 and a machine recreation

[2017-11-12 23:27] #52 closed

[2017-11-22 03:09] VAllens commented on #49
Your script code, run with `WSL (Windows Subsystem for Linux) bash`, no problem.
There's a problem running in `git bash`.
You can close this issue, thank you so much.

[2017-11-22 03:09] #49 closed

[2017-11-26 10:14] StefanScherer commented on #45
Don't know if that helps here, but I got the same problem that docker-machine couldn't find an IP address after 120 seconds. I turned out that our new company notebooks don't have the virtualization (vTX vTD) settings activated in BIOS. I also couldn't start any VMware VM manually. But at least this is one thing to check.

[2017-11-28 08:59] pecigonzalo commented on #45
Unfortunately, I have been quite busy to answer all questions here, but lets separate the issues please.

If you cant run the VM from your command line and/or manually then it is not a problem with this repository, its a problem with your setup.

@colindnz Please dont put 3 messages one after the other and use Markdown formatting to make it more readable, otherwise its hard to understand your issu

[2017-12-01 23:08] WheelmanK commented on #37
I realize this is a relatively old topic and is reported as being resolved but I wanted to add some information that might prove useful to others with the same problem.
I fought with the exact same issue reported by the OP and after reading this thread realized I had deleted one of the virtual networks that's installed as part of a default Workstation installation.  The critical virtual net is ins

[2017-12-03 03:35] WheelmanK opened #53 "Improve error reporting when no NAT/DHCP based virtual network exists"
I recently installed the docker-machine and vmware workstation driver using chocolatey and attempted to create a VM using the following command:

docker-machine --native-ssh create -d vmwareworkstation default

with the result being a VM that would not connect using SSH.
Consequently it was impossible to connect to the instance using docker commands

After running the process with debug enabled an

[2017-12-04 10:01] pecigonzalo commented on #53
I dont know if this is possible, but ill give it a look.

[2017-12-08 03:25] cnliving commented on #33
Too annoying  Can you start manually

[2017-12-08 04:20] cnliving commented on #33
#!/bin/bash
#dingjianmin    2017-12-08
export PATH="$PATH:/c/Program Files/VMware14_0_0/"

trap '[ "$?" -eq 0 ] || read -p "Looks like something went wrong in step ´$STEP´... Press any key to continue..."' EXIT

VM=${DOCKER_MACHINE_NAME-default}
DOCKER_MACHINE=./docker-machine.exe
DOCKER_PATH=~/.docker/machine/machines/
BLUE='\033[1;34m'
GREEN='\033[0;32m'
NC='\033[0m'

echo "DockerVM=${VM}"
Runin

[2017-12-11 16:39] pecigonzalo commented on #33
Please use code formatting for this output

[2018-03-14 05:39] ryangribble commented on #42
Im running into this too and I believe it's because this driver is always trying to use user `docker` password `tcuser` to run the vmrun.exe commands against the VM created (in VMWare workstation in my case).   It also is attempting to copy files to a `home/docker` folder which doesn't exist when there is no `docker` user.

https://github.com/pecigonzalo/docker-machine-vmwareworkstation/blob/maste

[2018-04-01 21:04] #51 closed

[2018-04-16 03:06] VAllens opened #59 "about add parameter or environment variable "--engine-registry-mirror=my_url" problem"
Hi, pecigonzalo.

Can I add some custom parameters ***(`--engine-registry-mirror=my_url`)*** after this sentence?
[code]
#### Samples
[code]

***But I don't want to modify your `start.sh` code directly. I want to pass in external parameters. Do you have better suggestions?***

## Anyway, thank you so much.

[2018-04-16 11:59] NikitaNO commented on #45
In my case VIX was missing

[2018-04-29 08:46] dd-han commented on #45
Same problem and fixed

after enable debug log, I found a vmrun command, then I run vmrun.exe directly:
[code]

found [this post](https://communities.vmware.com/thread/517618), and open vixwrapper-config.txt

no version setting for version I using (14.0.0), so I back to [vmware website download](https://my.vmware.com/group/vmware/free#desktop_end_user_computing/vmware_workstation_player/14_0|PLAYE

[2018-05-09 06:57] KaizerF opened #60 "Connection deny when trying to connect to container with postgres, get boot2docker IP"
Hello everyone,

After I start a container with

`docker run -p 5432:5432 --name postgres -e POSTGRES_PASSWORD=admin -e POSTGRES_USER=admin -e POSTGRES_DB=postgres -d postgres`

CONTAINER ID        IMAGE               COMMAND                  CREATED             STATUS              PORTS                    NAMES
32e99cf9ca64        postgres            "docker-entrypoint.s…"   5 days ago          U

[2018-05-09 08:11] FilipVPetrov commented on #60
I have used `docker-machine ip dev` and connect to the IP:port and the connection was successful. Please close it.

[2018-05-09 08:11] #60 closed

[2018-05-19 17:28] CollinChaffin commented on #45
Posting the same info here that I posted over @ the Docker-Machine and Powershell/OpenSSH teams to collaborate on the final solution but I also provide a tested workaround.  This issue has plagued us and gone all the way back over three years to when Docker was first released and I have uncovered the root cause.

So for those of you like the OP having the dreaded (120 seconds....) or any one of th

[2018-06-13 13:30] zeronight5 commented on #33
Change `vmrun.exe list` to `"${DOCKER_MACHINE}" ls` will resolve the problem.

[2018-06-13 15:29] pecigonzalo commented on #33
Would that fix that for everyone? do you want to PR it?

[2018-08-22 01:44] jgersl opened #63 "Machine name issue (boot2docker vs default)"
Thanks for this piece of software, it helped us a lot. I'm chasing an intermittent situation that might originate in this driver.

THE ENVIRONMENT
- windows 7 x64, docker is installed and configured using this driver, our machine is called "default" and everything works, running 4 containers inside, using VMware Workstation 10 with default DHCP settings, manually configured some port forwarding ru

[2018-09-04 06:56] jingslunt opened #65 "what ‘s wrong"
C:\Users\Administrator>docker-machine create --driver=vmwareworkstation dev
Error starting plugin binary: open NUL: The system cannot find the file specified.
Error attempting to get plugin server address for RPC: Failed to dial the plugin server in 10s

[2018-09-04 06:58] novvoo commented on #65
doocker edge (with k8s)：
https://download.docker.com/win/edge/Docker%20for%20Windows%20Installer.exe
win10 x64

[2018-09-10 05:29] #65 closed

[2018-10-13 01:21] falcopr commented on #45
I also had the problem described above. And the solution is silly :D

My **scenario**:
Im on Windows 10 Enterprise, HyperV disabled and using Workstation Pro 14.
To create my docker-machine I used the following line:
`docker-machine --debug create --driver=vmwareworkstation --vmwareworkstation-cpu-count=4 --vmwareworkstation-memory-size=4098 --vmwareworkstation-disk-size=20000  linuxhost`

The **p

[2018-11-11 15:37] MartinSGill opened #66 "Network adaptor not found: B2D , Vmware W. Pro 15"
Docker Machine Version:  0.14.0, build 89b8332
Boot2Docker: v18.09.0
VMWare: Workstation Pro 15
vmrun version 1.17.0 build-10737736

## Steps to Reproduce:

[code]

## Issue:

Timeout waiting for IP address

[code]

## Root Cause:

NIC is missing:

![image](https://user-images.githubusercontent.com/2271740/48314453-0b449a80-e5ca-11e8-85db-d38694d3a36f.png)

## Notes

Editing the generated VMX file

[2018-11-11 16:41] StefanScherer commented on #66
Seems related to https://github.com/boot2docker/boot2docker/issues/1345
I can see the same problem with docker-machine vmwarefusion driver.

[2018-12-02 14:29] tekook commented on #66
I can confirm this.
Broke a leg trying to figure out why docker-machine stopped working.
Booted boot2docker.iso in a newly created vm in vmware workstation pro 15, and it worked fine.

VMware itself defaults the nic for Linux-Based VMs in VMware is always to e1000.
Should we update docker-machine-vmwareworkstation to e1000?

[2018-12-11 07:03] flykarry commented on #45
the same issue.
My system is win7, run with DockerToolBox and vmware driver, my vmware version is 14 pro.

[2018-12-12 08:14] flykarry commented on #66
@tekook Can you help me compile your fork? I can't work with the go environment. and I've been trying for 2 days....  my email gja19263@163.com thanks

[2018-12-14 17:52] tekook commented on #66
Compile the images, but did not seem to help.

Currently trying the new beta of boot2docker, see: https://github.com/boot2docker/boot2docker/issues/1340#issuecomment-444273243

[2018-12-16 20:58] hoegge commented on #45
Hi
Try to open docker-machine in vmware too. It never is able to find the IP address. Have changed the default NAT setting that docker-machine creates to Bridged with no difference:
[code]
The machine runs fine as do all other VMware VMs and they take IPaddresses fine. The result of `ifconfig` is:
![image](https://user-images.githubusercontent.com/15846310/50058754-49ab1780-017d-11e9-954b-d06456c9

[2019-01-03 18:47] hoegge commented on #45
I comared the `vmx` file of the docker VM to a functioning Windows VM and found out changing the network device to `e1000` made networking work. I have done this on both version 7 and version 12 of VMware, so not sure why the driver does not use the `e1000` NIC type instead. Still, it wont connect. E.g. `docker-machine env dev` says:
[code]
If I then try to regenerate I get:
[code]
which just hang

[2019-01-07 02:23] kkeybbs commented on #38
I make Kitematic works well with docker-machine-vmwareworkstation.
Check code [here](https://github.com/docker/kitematic/blob/master/src/utils/DockerMachineUtil.js), we know that virtualbox is hard code in Kitematic, so we just provides a fake VBoxManage.exe.

- Step 1, create a "default" machine with docker-machine-vmwareworkstation:
[code]
- Step2, create a fake VBoxManage
[code]
- Step3, set en

[2019-01-07 13:07] leonardochaia commented on #38
I'm working on this project called Timoneer which is a desktop UI (electron) for Docker.
https://github.com/leonardochaia/timoneer

[2019-03-21 15:57] sebyku opened #68 "Disk not created"
Hi,

I doesn't start as the default.wmdk disk is not created.
I am using the VMWare-Vix-1.6.2

Cdt,

SK

[2019-07-18 09:33] Karrq commented on #40
This also happens with VMWare Workstation 15 Player.

This is because the VIX API (vmrun) isn't included in VMWare Workstation 15 Player.
See [this](https://communities.vmware.com/thread/597920) guide to setup the VIX API on Player.

[2019-07-18 10:33] Karrq commented on #68
Can confirm. A .vmdk isn't created so the machine can't run, but the machine is created specifying that it needs a disk.

[2019-07-18 10:45] Karrq commented on #68
I have managed to work around this:

1. Launch Quickstart
2. Wait for "Waiting for VM to come online"
3. Navigate to the VM's location (C:\Users\YOUR-USER-HERE\.docker\machine\machines\default)
4. Import the .vmx file in your library (like with Workstation Player)
5. Edit the machine's setting to remove the harddisk
6. Launch the machine
7. After a bit (the waiting countdown is 120s) quickstart sh

[2019-09-30 18:34] carlo-quinonez opened #69 "Documentation or example for Cloud-init usage?"
Looking through the code, there's an option for specifying a [cloud-init](https://github.com/pecigonzalo/docker-machine-vmwareworkstation/blob/master/workstation.go#L73) configuration. Judging from the rest of the code, it's not as simple as passing a cloudinit file and some of the setup, like mounting of shared drives, seems to be skipped if this parameter is specified.

I was wondering if there'

[2019-10-04 15:05] CollinChaffin commented on #45
I opened this issue quite some time ago and still has never adequately been addressed.  You might want to take the time to read this and I clearly demonstrate how this occurs, but I simply still don't have the time to debug all the docker code to find the exact cause.  However, I also demonstrate the workaround/solution/cause which, if you take the time to read - is ultimately a pitifully-simple f

[2019-10-04 16:07] pecigonzalo commented on #45
@CollinChaffin Ill start working on this again next month. It has been quite hard as many issues seem to be lumped together here (as you can see from the user with the wrong mem value).

Please avoid comments like the following

No one pays me to support any project, I do this out of my own time, and so can you or anyone submit a patch or a pull request to this repository.

I appreciate the screen

[2019-10-04 16:55] #23 closed

[2019-10-04 16:55] #53 closed

[2019-10-19 01:49] roberdaniel commented on #40
Hi all
I confirm that only having Vmware Player 15 is not enough at all.
seemingly your tool is looking in the registry for a path that doesn't exist and tool that doesn't exist.
[code]

1. In my registry there isn't a path to vmware.exe, instead is a path to vmplayer.exe
2. Also there is not such tools called vmrun.exe and vmware-vdiskmanager.exe.

I've downloaded and installed Wix api as suggest

[2019-10-19 04:20] roberdaniel commented on #40
Nevermind, I've decided to download the full Vmware Workstation Pro and with it it seems to be working ok.
Please instruct in a readme file/prerequisites file that people don't use "Player" versions of VMware to avoid problems.
Regards

[2019-10-19 09:32] pecigonzalo commented on #40
It says already not to use it

On Sat, Oct 19, 2019, 06:20 roberdaniel <notifications@github.com> wrote:

[2020-03-25 17:42] pecigonzalo commented on #69
@carlo-quinonez It works similar to https://coreos.com/os/docs/latest/config-drive.html, its a feature of boot2docker and not of this particular driver. Unfortunately there isnt a lot of documentation around it.

[2020-03-25 17:44] pecigonzalo commented on #68
Is this still an issue?

[2020-03-25 17:47] pecigonzalo commented on #66
Ill update this to e1000, probably a change in updates VMWares

[2020-03-25 17:52] pecigonzalo commented on #63
Given the date of this and that it was on Windows 7, ill close this issue. Sorry for not replying before. If you see this issue again, please open a new one.

[2020-03-25 17:52] #63 closed

[2021-05-07 10:17] viacheslav-mik commented on #68
Yes, can confirm on v1.1.0
Note, that I did not ran into this issue when creating machine for the first time.

**Update.**
Probably occurs when VMWare is installed not in the standard path (c:/files x86/..)

[2022-03-03 19:46] festum commented on #42
I better close it before archiving.

[2022-03-03 19:46] #42 closed